/* Custom CSS */
body {
	background: transparent;
}

p {
	color: white;
}

h4 {
	color: white;
}	

.full {
    background: url('../img/bg3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

img {
	height: 100px;
}

img.thumbnail:hover, img.thumbnail:focus, img.thumbnail:active {
  position: relative;
  top: -150px;
  /*left: -200px;*/
  width: auto;
  height: 300px;
  display: inline-block;
  z-index: 3;
}

.char-info {
  font-size: 12px;
  padding: 6px 6px;
}

}

img.player-logo {
  min-height: 100px;
  /*min-width: 50px;*/
}
