{% extends "BaseMarkup.html" %}

{% import "GameUI.html" as GameUI %}

{% block extend_js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock extend_js %}

{% block content %}

<div id="body" class="container">
    <!-- Flash messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="messages" class="alert alert-warning alert-dismissible" role="alert">
        {% for message in messages %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> {{ message }}

        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <!-- Opponent Area start-->
    <div id="opponnent_area">
        {{ GameUI.PlayerUI(opponent) }}
        {{ GameUI.PlayerTable(opponent, True) }}
    </div>
    <!-- Opponent Area end -->
    <div style="width: 100%; height: 10px"></div>
    <!-- Player Area start -->
    <div id="player_area">
        {{ GameUI.PlayerTable(player) }}
        {{ GameUI.PlayerUI(player, True) }}
    </div>
    
    <!-- Player Area end -->
    <!-- GameData-->
    {{ GameUI.GameData(opponent, player)}}
</div>
{% endblock %}